ci:
  skip: [golangci-lint-full, go-test]

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: check-yaml
      - id: end-of-file-fixer
      - id: trailing-whitespace
  - repo: https://github.com/golangci/golangci-lint
    rev: v2.5.0
    hooks:
      - id: golangci-lint-full
  - repo: local
    hooks:
      - id: go-test
        name: go test ./...
        language: golang
        types_or: [go]
        entry: make test
